/************************************* reset style start **************************************/
body {
	margin: 0; padding: 0;
	font-size: 75%;
	line-height: 1.33;
	background-color:#000;
	font-family: Helvetcia, Arial, sans-serif;
}

ul,
li,
ol,
dt,
dd,
dl {
	margin: 0;
	padding: 0;
}

a,
a:link,
a:hover,
a:active {
	text-decoration: none;
	border: 0 none;
}

ul, li, ol {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

p {
	margin: 10px 0;
}
img {
	border: 0 none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  height: 0;
  content: ' ';
  clear: both;
  display: block;
  visibility: hidden;
}
nav, section, footer, header, hgroup {
  display: block;
}
/************************************* reset style end **************************************/
