body {
	padding-top: 60px;
	padding-bottom: 40px;
}

/* file upload start */
.dropArea.hover {
	-webkit-box-shadow: 0px 0px 4px #666;
	-moz-box-shadow: 0px 0px 4px #666;
	box-shadow: 0px 0px 4px #666;
}
.dropArea a[data-toggle='modal'] {
	display: none;
}
#uploadModal {
	width: 620px;
	margin-left: -310px;
}
#uploadModal .modal-body {
	overflow-y: auto;
	max-height: 333px;
}
#uploadModal h3 + .row {
	margin: 5px 0 0 0;
}
#uploadModal h3 + .row select {
	margin-bottom: 0;
}
#uploadModal form {
	margin: 0;
}
.thumbnail:hover {
	border-color: #0088cc;
	-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.5);
	-moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.5);
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.5);
}
/* file upload end */

/*manage menu start*/
.editable th, .editable td {
	vertical-align: middle;
}
.editable .view,
.editable .editMode .edit {
	display: block;
}
.editable .edit,
.editable .editMode .view {
	display: none;
}
.editable input {
	margin-bottom: 0;
}
#menu-table .control-group {
	margin: 0;
}
/*manage menu end*/

table .tab-content > .active, 
table .pill-content > .active {
	display: table-row;
}